[submodule "src/shared"]
	path = src/shared
	url = https://github.com/Graduation-Thesis-K23/shared.git
[submodule "src/sub-categories"]
	path = src/sub-categories
	url = https://github.com/Graduation-Thesis-K23/categories.git
